<div class="search-container" data-controller="category-selection">

  <h1 class="text-center mt-4 mb-4">Qu'as-tu envie de voir?</h1>
  <div class="tag-container">
    <div class="tags">
        <% @categories.each do |category| %>
          <div class="w-tag-badge" data-category-selection-target="category" data-action="click->category-selection#selected"><%= category.name %></div>
        <% end %>
    </div>
  </div>

  <%= form_with url: trips_path, method: :get, html: {class:
    "trip-form", data: {category_selection_target: "form"}} do |f| %>
    <%= f.text_field :query,
                     class: "d-none",
                     data: {category_selection_target: "input"} %>

    <%= f.submit "c'est parti!", class: "w-button button-start-trip" %>
    <% end %>
</div>
