.trip-recap {
  margin-top: 65px;
  text-align: center;
  height: 76vh;
  overflow-y: overlay;
  overflow-x: hidden;
  margin-bottom: 25rem;
  // padding: 28px;
}

.distance-recap {
  width: 320px;
  height: 85px;
  border-radius: 15px;
  background-color: none;
  color: #FFF;
  padding: 10px;
  // display: flex;
  // justify-content: space-evenly;
  margin: auto;
}

.distance-recap {
  .fa-shoe-prints, .fa-shoe-prints {
    margin-bottom: 12px;
  }
  .fa-shoe-prints {
    font-size: 28px;
    color: $pink;
  }

  .fa-location-dot {
    color: $blue;
    font-size: 32px;
  }
}

.playlist {
  margin-top: 36px;
}

.playlist {
  // h3 {
  //   margin-top: 21px;
  // }
  .star-regular {
    i {
      margin: 0;
    }
    // top: 30px;
    // right: 25px;
    right: 10px;
  }
  .star-solid {
    i{
      margin: 0;
    }
    margin: 0;
    // top: 30px;
    // right: 25px;
    right: 10px;
  }
}
