<div class="trip-recap">
<h2>Résumé de la balade</h2>
  <div class="distance-recap center">
    <span class="fa-solid fa-shoe-prints"></span>
    <h2><%= @user_trip.trip.kms %> km !</h2>
  </div>
  <div class="playlist">
    <h4>Tes étapes du jour</h3>
    <% @user_trip.trip.places.each do |place| %>
      <div class="place-mini" data-controller="add-favourite">
        <div class="place-mini-img">
          <%= image_tag place.url_image, alt: "place image" %>
        </div>
        <div class="place-mini-info">
          <h3><%= place.name %></h3>
          <p><%= place.address %></p>
          <span class="fa-regular fa-star" data-add-favourite-target="icon" data-action="click->add-favourite#changeIcon" style="color: #fdd835"></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
