<div class="comment-card">
 <div class="ctn-left">
  <div class="user-avatar">
    <%= render "shared/avatar" %>
  </div>
  <div class="comment-eval">
    <i class="fa-solid fa-thumbs-up"></i>
    <h4>12</h4>
    <i class="fa-solid fa-thumbs-down"></i>
  </div>
 </div>
 <div class="user-comment">
  <h3 class="user-name">Lucie H.</h3>
  <p class="user-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt laborum molestiae, obcaecati rerum quos quam dignissimos earum dolorem, voluptas amet sapiente culpa officia perferendis illo sequi quo, qui consequuntur veniam?</p>
 </div>
</div>
