<div class="d-flex justify-content-evenly mt-5 w-footer-rectangle">
    <%= link_to root_path, class: "d-flex flex-column align-items-center justify-content-between" do %>
      <i class="fa-solid fa-archway"></i>
      <span>Accueil</span>
    <% end %>

    <%= link_to '#', class: "d-flex flex-column align-items-center justify-content-between" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
      <span>Recherche</span>
    <% end %>

    <%= link_to '#', class: "d-flex flex-column align-items-center justify-content-between" do %>
      <i class="fa-solid fa-book"></i>
      <span>Bibliothèque</span>
    <% end %>
</div>
