<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.actu.fr/uploads/2021/03/adobestock-264549883.jpeg);">
  <div class="container">
    <h1>Wanders</h1>
    <p>Balades architecturales à Paris</p>
    <a class="btn btn-flat" href="#">Inscrivez-vous maintenant !</a>
  </div>
</div>
