<div class="container">
  <h2> Button Primary</h2>
  <div class="w-btn-primary">
    <a href="#">Button</a>
  </div>
  <div class="w-btn-primary-inverted">
    <a href="#">Button</a>
  </div>

  <h2>Tag badge</h2>
  <span class="w-tag-badge">Insolite</span>
  <span class="w-tag-badge">Historique</span>
  <span class="w-tag-badge">Terrifiant</span>

  <h2></h2>
</div>
