.w-btn-primary {
  display: inline-flex;
  background-color: $pink;
  width: 60%;
  justify-content: center;
  align-items: center;
  border-radius: 2.5vh;
  padding: 0.5em;
  text-decoration: none;
  color: $white;
  transition: all 0.3s ease-in-out;
}

.w-btn-primary:hover {
  color: $white;
}

.w-btn-primary-inverted {
  display: inline-flex;
  background-color: $white;
  width: 60%;
  height: 30%;
  justify-content: center;
  align-items: center;
  border-radius: 2.5vh;
  padding: 0.5em;
  text-decoration: none;
  color: $pink;
}
