.card-place {
  overflow: hidden;
  width: 100% !important;
  padding-top: 10px;
  color: $gray;
}

.card-place {
  img {
    width: 100%;
    object-fit: cover;
    max-height: 260px;
  }

  h2 {
    margin-top: 10px;
    color: #3698B1;
  }
}

.card-description {
  color: $gray;
}
.comment-cta{
  border-radius: 50px;
  background-color: $purple;
  color: $white;
  padding: 0.3rem;
}

#comment_content {
background-color: $light-gray;
border-radius: 10px;
}

form label{
  font-size: medium;
}
.place-data button {
  margin-bottom: 1rem;
}
