.card-place {
  overflow: hidden;
  width: 100% !important;
  padding-top: 10px;
  color: $gray;
}

.card-place {
  img {
    width: 100%;
    object-fit: cover;
    max-height: 260px;
  }

  h2 {
    margin-top: 10px;
    color: #3698B1;
  }
}

.card-description {
  color: $gray;
}
.comment-cta{
  border-radius: 50px;
  background-color: $purple;
  color: $white;
  padding: 0.3rem 0.4rem;
}

#comment_content {
background-color: $light-gray;
border-radius: 10px;
color: $dark-blue;
}

form label{
  font-size: medium;
}
.place-data button {
  margin-bottom: 1rem;
}
.visited-area {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 0 1em 1em 1em;
}

#visited-label{
  font-size: 1.5em;
  margin-top: 0.4em;
  margin-left: 2em;
  z-index: 2;
}
 #flexSwitchCheckDefault {
  width: 4em;
  height: 2em;
  background-color: $white;
  box-shadow: none;
 }
 #flexSwitchCheckDefault:checked {
  background-color: #4EEBF5;
  border-color: #4EEBF5;
  box-shadow: none;
}
 #flexSwitchCheckDefault:active {
  background-color: #4EEBF5;
  box-shadow: none;
}
 #flexSwitchCheckDefault:focus {
  box-shadow: none;
  outline: 0;
}

.transparent-button {
  background-color: $white;
  border: none;
  z-index: 1;
}
