
.fav-place-container {
  margin-top: 80px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  h1 {
    margin-bottom: 40px;
    margin-left: 30px;
  }
  .fav-place-details-container {
    .fav-place-card {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      .image {
        height: 5.5rem;
        width: 5.5rem;
        z-index: 2;
        border-radius: 10px;
        overflow: hidden;
      }
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
      .fav-place-info {
        height: 5.5rem;
        border-radius: 10px;
        background-color: #FFF;
        color: #FD479E;
        margin-left: -2rem;
        padding: 0.5rem 1rem;
        padding-left: 3rem;
        flex-grow: 1;

        h2 {
          font-weight: bold;
          font-size: small;
          color: $dark-blue;
          padding-left: 10px;
          padding-top: 5px;
        }
        .trip-icon {
          display: flex;
          .favori-icon {
            padding-left: 10px;
            padding-right: 20px;
            margin-top: 5px;
            color: rgb(232, 219, 73);
          }
          .visited-icon {
            color: rgb(116, 195, 89);
            margin-top: 5px;
          }
        }
      }
    }
    .place-description {
      display: none;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      text-align: justify;
      background-color: #7372A4;
      border-radius: 10px;
      color: $white;
      font-size: small;
      width: 90%;
      padding-top: 2rem;
      margin-top: -1rem;
    }
    &.active {
      .place-description {
        display: flex;
      }
    }
  }
}
