
.fav-place-container {
  margin-top: 80px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  h1 {
    margin-bottom: 40px;
    margin-left: 30px;
  }
  .fav-place-details-container {
    .fav-place-card {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      img {
        height: 90px;
        width: 90px;
        object-fit: cover;
        border-radius: 10px;
      }
      .fav-place-info {
        height: 90px;
        width: 70%;
        border-radius: 20px;
        background-color: $white;
        color: $pink;
        margin-left: 10px;
        padding: 5px;
        h2 {
          font-weight: bold;
          font-size: small;
          color: $dark-blue;
          padding-left: 10px;
          padding-top: 5px;
        }
        .trip-icon {
          display: flex;
          .favori-icon {
            padding-left: 10px;
            padding-right: 20px;
            margin-top: 5px;
            color: rgb(232, 219, 73);
          }
          .visited-icon {
            color: rgb(116, 195, 89);
            margin-top: 5px;
          }
        }
      }
    }
    .place-description {
      display: none;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      text-align: justify;
      background-color: rgba($color: #ffffff, $alpha: 0.3);
      border-radius: 10px;
      color: $white;
      font-size: small;
      width: 90%;
    }
    &.active {
      .place-description {
        display: flex;
      }
    }
  }
}
