.w-footer-rectangle {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $blue;
  border-radius: 50px;
  a {
    color: white;
    text-decoration: none;
  }
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 95vw;
  margin-bottom: 1rem;
  opacity: 92%;
  align-self: center;
}
