.map {
  width: 100%;
  height: 100vh;
}

.mapboxgl-popup {
  width: 54vw;
  max-width: 400px;
  transform:none !important;
  top: 15%;
  left: 10px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: -30px;
  bottom: 6px;
  width: 170%;
  margin: 1em 3%;
  overflow-y: scroll;
  border-radius: 15px;
  height: 65vh;
}

.mapboxgl-popup-close-button {
  color: #3698B1;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  display: none;
}
