.map {
  width: 100%;
  height: 100vh;
}

.mapboxgl-popup {
  width: 54vw;
  max-width: 400px;
  transform:none !important;
  top: 15%;
  left: 10px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: -30px;
  bottom: 6px;
  width: 170%;
  margin: 1em 3%;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  border-radius: 15px;
  height: 65vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
// Hide scroll bar on Chrome, Safari, Opera
.mapboxgl-popup-content::-webkit-scrollbar {
  display: none;
}

.mapboxgl-popup-close-button {
  color: #3698B1;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  display: none;
}

#user-icon{
  color: $pink;
  font-size: 41px;
}
