.trip-container {
  background-color: $dark-blue;
  color: white;
  padding: 20px;
  margin-top: 55px;
  height: 76vh;
  overflow-y: overlay;
  overflow-x: hidden;
  margin-bottom: 20rem;
}

/* Trip search style */

.tag-container {
  width: 100%;
}

.tags {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.trip-form {
  position: relative;
  margin: 20px;
  width: 100%;
}

.button-start-trip {
  margin-top: 1.5rem;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50% -50%);
}

/* Trips index style */

.trip-details-container {
  &.active {
    .trip-title {
      background-color: $pink;
      color: white;
    }
    .card-trip {
      display: flex;
    }
  }
  .trip-header {
    width: 100%;
    display: flex;
    img {
      height: 50px;
      width: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
    .trip-title {
      background-color: white;
      width: 80%;
      height: fit-content;
      color: $pink;
      border-radius: 20px;
      padding: 4px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;
      .title {
        text-align: center;
        font-weight: bold;
      }
      .description {
        font-style: italic;
        text-align: center;
        font-size: smaller;
      }
    }
  }

  .card-trip {
    overflow: hidden;
    height: 70px;
    width: 100%;
    padding: 16px;
    background-color: white;
    border-radius: 20px;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    .key-figures {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.4;
      margin-bottom: 0;
      margin-top: 8px;
      color: #151468;
    }
  }
}

/*
.trip-details-container {
  &.active {
    .trip-title {
      background-color: $pink;
      color: white;
    }
    .card-trip {
      display: flex;
    }
  }
  img {
    height: 100%;
    width: 20%;
    object-fit: cover;
    border-radius: 50%;
  }
  .trip-title {
    transition: all ease 0.3s;
    background-color: white;
    width: 100%;
    height: 60px;
    color: $pink;
    border-radius: 20px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    p {
      text-align: center;
    }
  }
  .card-trip {
    overflow: hidden;
    height: 100px;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;

    p {
      font-size: 12px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
      color: #151468;
    }
   .card-trip-infos {
      padding: 16px;
      background-color: white;
      border-radius: 20px;
      width: 77%;
      height: 120px;
      padding: 15px;
      display: flex;
      .infos {
        width: 50%;
      }
    }
  }


}
 */
